
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Azeret Mono;
    justify-content: center;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#first-title{
    font-size: 25px;
}

#navbtn{
    width: 250px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 200;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
#subbtn{
    width: 100px;
    height: 23px;
    border-radius: 10px;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 15px 23px 19px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 100;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}

                          /* Section-1 */
.section-1{
    margin-top: 5px;
    text-align: center;

}

.banner{
    /* background-image: url(../Project/image/Hero-bg.png); */
    /* background-image:urlB10A1-Challe(../nge-Begins/assets/Hero-bg.png);    */
    /* position: absolute; */
    background-image: url(image/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.banner-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    max-width:100%;
    height: auto;
    background-color: transparent;

}
.banner-description{
    margin-top: 32px;
    letter-spacing: 0%;

}

.banner-description1{
    margin-top: 32px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    
}

.banner-description2{
    margin-top: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
}

.btn{
    margin-top: 32px;
    background-color: black;
    color: white;
    border-right: 50%;
    padding: 21px 24px 21px 24px;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
   
}

/* ..................... */

.first{
    background:no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 1900px;
   
    /* font-weight: 552px; */

}


.section-2{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    background-color: rgb(240, 237, 237);
    padding-top:600px;
    padding-bottom: 600px;
    margin-left: 290px;
    margin-right: 290px;
    border-radius: 10px;
   

}

.header2{
    margin-top: 30px;
    text-align: center;
    margin-top: 35px;
    height: 115px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

  
}
.header-text-1{
    margin-top: 32px;

}
.header-text-2{
    margin-top: 32px;

}

.title2{
    font-size: 24px;
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.text-2{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    font-size: 16px;
    text-align: left;

 }
.card{
    display: flex;
    flex-direction: column;
    padding: 90px ;
    text-align: left;
    row-gap: 30px;
  
  

}
.card1{   
   
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding right:19px ;
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
}
.card1.one{
}
.card2{
    /* padding-top: 32px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around; */
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card3{
    /* padding-top: 32px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between; */


    margin-top: 30px;
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.section3{
    padding: 1px 1px 1px 1px 1px;
    margin: 0px 290px 0px 290px;
    border-radius: 16px;
    text-align: center;
    position: relative;
    text-align: center;
    background: whitesmoke


}
.video{
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    content-box:fixed;
}
.video .video-size{
    margin: 0px 1px 0px 1px;

    border-radius: 13px;
}


.section-4{
    margin-top:30px;
    
}

.box-card{
    margin: 30px 238px 30px 238px;
    padding: 32px; 
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: left;
    gap: 24px; 
    font-size: 19px;
  
}

.box-1{
    width: 400px;
    height: 300px;
    padding: 40px;
    margin: 0px 24px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    
  

}
.box-2{
    width: 400px;
    height: 300px;
    padding: 40px;
    margin: 0px 24px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
  
}
.box-3{
    width: 400px;
    height: 300px;
    padding: 40px;
    margin: 0px 24px;
    border-radius: 16px;
    background: rgba(160, 141, 16, 0.05);
}

.section-5{
   
    padding: 42px; 
    width: 1900px;
    height: 905px;
    margin: 24px;
    text-align: left;
    
}
.target{
   
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 40px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;

}
.terget-1{
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 70px;
    margin-top: 30px;
    width: 1600px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;

    /* margin-top: 40px;
    width: 1140px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    text-align: left;
    gap: 10px; */
    
}

.terget-2{
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 60px;
    margin-top: 30px;
    width: 1600px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.terget-3{
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 30px;
    margin-top: 30px;
    width: 1600px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin-bottom: 30px;
/* 
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 25px;
    text-align: left;
    gap: 10px; */
}

.sec-6{
   margin-top: 100px;
    padding-top: 90px;
    padding: 60px ;
    width: 1600px;
    height: 300px;
    background-image: url(image/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 200px 100px 100px 100px;
}

.header-6{
    color: white;
    text-align: center;
}
.header-text-1{
    margin-top: 20px;
    font-size: 32px;
    column-gap: normal;
   
}
.header-text-2{
    font-size: 16px;
}

.main-6 form{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 67px;
    margin: 24px 0px;
    text-align: center;

} 

#support{
    padding: 15px 23px 19px 20px;
    margin: 0px 25px;
    box-sizing: border-box;
    border-width: 0;
    border-radius: 8px;
}

/* Section 7 foooter part*/
#main-7{
    margin: 10px 10px 10px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}